{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pelicula</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Director</th>
      </tr>
    </thead>
    <tbody>
      {% for pelicula in peliculas %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.descripcion}}</td>
        <td>{{pelicula.director}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}